<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WTA_Elec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WTA_Elec.Properties.Settings>
            <setting name="FormMSG_Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FormMSG_Left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FormMSG_HT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormMSG_WD" serializeAs="String">
                <value>280</value>
            </setting>
        </WTA_Elec.Properties.Settings>
    </userSettings>
</configuration>